<app-header (logout)=logout();></app-header>
<div *ngIf="!isAdmin && !isLogin" style="height: 100vh;">
  <ngx-event-calendar [dataSource]="dataArray" [showAddButton]="true" [language]="'en'" (dayEvents)="selectDay($event)">
  </ngx-event-calendar>
</div>

<div *ngIf="isAdmin && !isLogin">
  <div class="container">
    <h1 class="alert alert-danger m-2">Leave Detail</h1>
    <div class="card mb-5" *ngFor="let item of list">
      <div class="row mt-2">
        <div class="col-lg-6">
          <div class="col-md-8"></div>
          <div class="col-md-4"></div>
          <ul>
            <li class="alert alert-primary">Name: {{item.createdBy}} Leave Requested Date : {{item.leaveDate | date}} </li>
          </ul>
        </div>
        <div *ngIf="item.status === 1" class="col-lg-6">
          <button type="button" class="btn btn-primary btn-lg m-2"
            (click)="onApprovalSubmit('Approved' ,item)">Approved</button>
          <button type="button" class="btn btn-danger btn-lg" (click)="openModal(item)">Rejected</button>
        </div>
        <div *ngIf="item.status !==1" class="col-lg-6">
          <button type="button" class="btn btn-success btn-lg">{{item.status === 2 ? 'Leave Approved' : 'Leave Rejected'}}</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container mt-5" *ngIf="isLogin">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label for="UserName">UserName</label>
          <input type="text" formControlName="UserName" id="UserName" class="form-control" required>
        </div>
        <div>
          <p *ngIf="!loginForm.controls.UserName.valid  && (loginForm.controls.UserName.touched )">Username should be
            required</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label for="Password">Password</label>
          <input type="Password" formControlName="Password" id="Password" class="form-control" required>
        </div>
        <div>
          <p *ngIf="!loginForm.controls.Password.valid  && (loginForm.controls.Password.touched )">
            Password should be
            Minimum 7 character</p>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-lg-12">
        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-success  btn-lg mr-1">Login In</button>
      </div>
    </div>
  </form>
  <div *ngIf="isError" class="alert alert-danger">
    <p>{{error}}</p>
  </div>
</div>


<div *ngIf="backdrop" class="backdrop"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Leave Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div *ngIf="isAdmin" class="modal-body">
        <form class="page" [formGroup]="ApprovalForm" (ngSubmit)="onApprovalSubmit('Rejected')">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="Comment">Comment</label>
                <input type="text" formControlName="Comment" id="Comment" class="form-control" required>
              </div>
              <div>
                <p *ngIf="!ApprovalForm.controls.Comment.valid  && (ApprovalForm.controls.Comment.touched )">Username
                  should be
                  required</p>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-lg-12">
              <button type="submit" [disabled]="!ApprovalForm.valid" class="btn btn-success  btn-lg mr-1">Rejct</button>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="!isAdmin" class="modal-body">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="applyLeave()">Apply Leave</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="onCloseHandled()">Close</button>
      </div>
    </div>
  </div>
</div>
